<!DOCTYPE html>

<html>

    <header> <a href="http://localhost:3000/">home</a>    </header>
    
    <head>
        <title> <%= title %> </title>
    </head>

    <body>
            <h1>    <%= title %>   </h1>
            <h2>    <%= subtitle %> </h2>
            <p> <%= text %></p>
    </body>



</html>